.app-button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
}

.app-button:active {
    background-color: var(--accent-color-dark);
}

.app-button:disabled {
    cursor: not-allowed;
}
